<h4>Artists:</h4>
<hr>
<label>Song:</label>
<ul>
    <% @artists.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %>&emsp;<%= artist.songs.count %> songs</li>
    <% end %>
</ul>